html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }

*, *:before, *:after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit; }

.site-footer, .page-wrap:after {
  /* .push must be the same height as footer */
  height: 60px; }

footer {
  padding: 0 60px;
  line-height: 60px;
  background-color: white; }
  footer .footer-item {
    float: right;
    padding: 0 30px; }

.loading-logo {
  height: 100%;
  width: 100%; }

.preview-image {
  -o-object-fit: cover;
     object-fit: cover;
  width: 250px;
  height: 250px; }

@media screen and (min-width: 800px) {
  .one-third {
    width: calc(100%/3); }

  .two-thirds {
    width: calc(100%/3 * 2); }

  .one-fourth {
    width: calc(100%/4); }

  .half {
    width: calc(100%/2); }

  column {
    float: left; } }
* {
  margin: 0; }

html {
  height: 100%; }

body {
  font-family: futura-pt, sans-serif;
  font-weight: 300;
  font-style: normal;
  height: 100%;
  margin: 0; }

.page-wrap {
  min-height: 100%;
  /* equal to footer height */
  margin-bottom: -60px; }

.page-wrap:after {
  content: "";
  display: block; }
