// Base
@import "base/variables";
@import "base/mixins";
@import "base/reset";

// Components
@import "components/typography";
@import "components/grid";
@import "components/buttons";
@import "components/navigation";
@import "components/sections";

* {
    margin: 0;
}
html{
    height: 100%;
}
body{
  font-family: futura-pt, sans-serif;
  font-weight: 300;
  font-style: normal;
  height: 100%;
  margin: 0;
}
.page-wrap {
  min-height: 100%;
  /* equal to footer height */
    margin-bottom: -60px; 
}
.page-wrap:after {
  content: "";
  display: block;
}