


.site-footer, .page-wrap:after {
  /* .push must be the same height as footer */
    height: 60px; 
}
footer {
  padding: 0 60px;
  line-height: 60px;
  background-color: white;
  .footer-item{
  float: right;
  padding: 0 30px;
}
}
